<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item">
      <a class="nav-link active" href="#">Article List</a>
    </li>
  </ul>
</div>

<div class="post-preview" *ngFor="let a of lstArticles; let i=index">
  <div class="post-meta">
    <a href="profile.html">
      <img [src]="a.author.image" />
    </a>
    <div class="info">
      <a href="profile.html" class="author">{{a.author.bio}}</a>
      <span class="date">{{a.updatedAt}}</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> {{a.favoritesCount}}
    </button>
  </div>
  <a href="post.html" class="preview-link">
    <h1>{{a.title}}</h1>
    <p [innerHTML]="a.description"></p>
    <span>Read more...</span>
  </a>
</div>

